################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pl3  2.0/Services/Auth.fs
/pl3  2.0/Services/PriceCalculator.fs
